.boite {
    background: #dddddd;
    padding: 1em;
    border: 2px solid darkblue;
    border-radius: 10px;
    margin: 2em;
 }
 
 ul.boite {
   background: #dddddd;
    padding: 1em 1em 1em 2em;
    border: 2px solid darkblue;
    border-radius: 10px;
    margin: 2em;
 }
 
 .formule {
    background: #ffffcc;
    padding: 0.5em;
    margin: 0.5em auto 0.5em auto;
    text-align: center;
    border: 1px dotted grey;
    border-radius: 10px;
    width: 60%;
 }
 
 .stop::before {
    background-image: url('../img/stop-stamp-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 200px;
    height: 100px;
    content:"";
 }
 
 .important::before {
    background-image: url('../img/important.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 200px;
    height: 100px;
    content:"";
 }
 
 .defi::before {
    background-image: url('../img/defi.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 200px;
    height: 100px;
    content:"";
 }
 
 .attention::before {
    background-image: url('../img/attention.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 200px;
    height: 100px;
    content:"";
 }
 
 .note::before {
    background-image: url('../img/note.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 200px;
    height: 100px;
    content:"";
 }

 .rappel::before {
   background-image: url('../img/rappel.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 200px;
    height: 100px;
    content:"";
 }

 .savaistu::before {
   background-image: url('../img/savais-tu.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 200px;
    height: 100px;
    content:"";
 }
 
 .notice {
    color: darkgreen;
    background-color: lightgreen;
    font-weight: bolder;
    font-size: 0.8em;
    font-family: sans-serif;
    border: 1px solid green;
    border-radius: 5px;
    padding: 0 5px;
 }
 
 /* Pour cacher dates */
 .tc-story-river .tc-subtitle {
    display:none;
 }

 /* Pour rendre tous les tableaux défilables */
/*.tc-tiddler-body table
{
   display:block;
   overflow:auto;
}*/

.scrollable {
   height: 50em;
   display:block;
   overflow:auto;
}
 
 li {
   margin-bottom: 0.5em;
 }
 
 iframe {
   vertical-align: top;
   border: 2px solid darkblue;
   border-radius: 10px;
   margin-top: 1em;
   margin-bottom: 1em;
 }
 
 img {
   vertical-align: top;
   border-radius: 10px;
   margin-top: 1em;
   margin-bottom: 1em;
   border: 2px solid darkgray;
 }
 
 pre, code {
     word-wrap: normal;
     white-space: pre;
 }
 
 /*
 .tc-tiddler-body table thead {
   position: -webkit-sticky;
   position: sticky;
   top: 0;
 }

 .tc-tiddler-body table tr {
   color: #212121;
 }
 
 .tc-tiddler-body table tr:nth-child(odd) {
   background-color: #7bdde2;
 }

 .tc-tiddler-body table tr:nth-child(even) {
   background-color: #79d2aa;
 }
 */